#contenedorPrincipal{
	-fx-background-color: rgb(  211, 212, 217 );
}

.label{
	-fx-text-fill: rgb( 34, 40, 82);
	-fx-font-size: 16px;
}

.text-field{
	-fx-font-size: 15px;
}

.text-field:focused {
    -fx-background-color:  #d3faea , red , rgb( 222, 228, 229);
    }
 